@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    -webkit-appearance: none;
}

input {
    @apply shadow-none ring-0 border-0 outline-none;
}

body {
    font-family: 'Source Code Pro', monospace;
}